<%
const header = {
	hasGradient: false,
	hasWhiteBackground: true,
	hasShadow: true
}
const images = [
	{
		fullSize: 'images/people/full-size/people_1.jpg',
		thumbnail: 'images/people/thumbnails/people_1.jpg',
		alt: 'Lifestyle photography for design company'
	},
	{
		fullSize: 'images/people/full-size/people_2.jpg',
		thumbnail: 'images/people/thumbnails/people_2.jpg',
		alt: 'Lifestyle photography for design company'
	},
	{
		fullSize: 'images/people/full-size/people_3.jpg',
		thumbnail: 'images/people/thumbnails/people_3.jpg',
		alt: ''
	},
	{
		fullSize: 'images/people/full-size/people_4.jpg',
		thumbnail: 'images/people/thumbnails/people_4.jpg',
		alt: 'Model shot for private health care provider website'
	},
	{
		fullSize: 'images/people/full-size/people_5.jpg',
		thumbnail: 'images/people/thumbnails/people_5.jpg',
		alt: 'Cr&egrave;che facilities for adult education provider, Hackney'
	},
	{
		fullSize: 'images/people/full-size/people_6.jpg',
		thumbnail: 'images/people/thumbnails/people_6.jpg',
		alt: 'Teaching and support staff headshot for academy school, Hackney'
	},
	{
		fullSize: 'images/people/full-size/people_7.jpg',
		thumbnail: 'images/people/thumbnails/people_7.jpg',
		alt: ''
	},
	{
		fullSize: 'images/people/full-size/people_8.jpg',
		thumbnail: 'images/people/thumbnails/people_8.jpg',
		alt: ''
	},
	{
		fullSize: 'images/people/full-size/people_9.jpg',
		thumbnail: 'images/people/thumbnails/people_9.jpg',
		alt: ''
	},
	{
		fullSize: 'images/people/full-size/people_10.jpg',
		thumbnail: 'images/people/thumbnails/people_10.jpg',
		alt: ''
	},
	{
		fullSize: 'images/people/full-size/people_11.jpg',
		thumbnail: 'images/people/thumbnails/people_11.jpg',
		alt: 'Prospectus photography for primary school, Ilford'
	},
	{
		fullSize: 'images/people/full-size/people_12.jpg',
		thumbnail: 'images/people/thumbnails/people_12.jpg',
		alt: 'Management portrait for Nissan, Sunderland'
	}
]
%>

<div class="container people-page">

  <div class="row">
    <div class="columns twelve">
      
      <%- partial('../components/header.ejs', { header }) %>

		</div>
	</div>

	<div class="row gallery__container">
		<div class="columns eight offset-by-two twelve--med offset-by-none--med">

			<div id="gallery" style="display:none;">

				<% images.forEach(function(image) { %>
					<%
					const fullSize = image.fullSize
					const thumbnail = image.thumbnail
					const alt = image.alt
					%>

					<img alt="<%= alt %>" src="<%= thumbnail %>"
					data-image="<%= fullSize %>"
					data-description="Image 1 Description">

				<% }) %>

			</div>

		</div>
	</div>

	<div class="row">
	    <div class="columns twelve">
	      
	      <%- partial('../components/footer.ejs') %>

	    </div>
	  </div>

</div>