<%
const header = {
	hasGradient: false,
	hasWhiteBackground: true,
	hasShadow: true
}
const images = [
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_1.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_1.jpg',
		alt: 'Director of food production company in Chelmsford'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_2.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_2.jpg',
		alt: 'Director of Coors Brewery in Staffordshire'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_3.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_3.jpg',
		alt: 'Editorial photograph of electronics engineer for media group'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_4.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_4.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_5.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_5.jpg',
		alt: 'Staff at circuit board manufacturer for website'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_6.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_6.jpg',
		alt: 'Director of research company, Cambridge'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_7.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_7.jpg',
		alt: 'Electronics engineer in design facility, Cambridge'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_8.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_8.jpg',
		alt: 'Director of circuit board company for website'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_9.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_9.jpg',
		alt: 'Corporate event on the River Thames for PR company'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_10.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_10.jpg',
		alt: 'Heads of department at Sky TV, editorial on 3D technology at Sky'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_11.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_11.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/pr_and_editorial/full-size/pr_and_editorial_12.jpg',
		thumbnail: 'images/pr_and_editorial/thumbnails/pr_and_editorial_12.jpg',
		alt: 'Award winning ad campaign for finance company'
	}
]
%>

<div class="container pr-and-editorial-page">

  <div class="row">
    <div class="columns twelve">
      
      <%- partial('../components/header.ejs', { header }) %>

		</div>
	</div>

	<div class="row gallery__container">
		<div class="columns eight offset-by-two twelve--med offset-by-none--med">

			<div id="gallery" style="display:none;">

				<% images.forEach(function(image) { %>
					<%
					const fullSize = image.fullSize
					const thumbnail = image.thumbnail
					const alt = image.alt
					%>

					<img alt="<%= alt %>" src="<%= thumbnail %>"
					data-image="<%= fullSize %>"
					data-description="Image 1 Description">

				<% }) %>

			</div>

		</div>
	</div>
	<div class="row">
	    <div class="columns twelve">
	      
	      <%- partial('../components/footer.ejs') %>

	    </div>
	  </div>

</div>