<%
const header = {
  hasGradient: false,
  hasWhiteBackground: true
}
const images = [
	{
		fullSize: 'images/products/full-size/products_1.jpg',
		thumbnail: 'images/products/thumbnails/products_1.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_2.jpg',
		thumbnail: 'images/products/thumbnails/products_2.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_3.jpg',
		thumbnail: 'images/products/thumbnails/products_3.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_4.jpg',
		thumbnail: 'images/products/thumbnails/products_4.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_5.jpg',
		thumbnail: 'images/products/thumbnails/products_5.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_6.jpg',
		thumbnail: 'images/products/thumbnails/products_6.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_7.jpg',
		thumbnail: 'images/products/thumbnails/products_7.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_8.jpg',
		thumbnail: 'images/products/thumbnails/products_8.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_9.jpg',
		thumbnail: 'images/products/thumbnails/products_9.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_10.jpg',
		thumbnail: 'images/products/thumbnails/products_10.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_11.jpg',
		thumbnail: 'images/products/thumbnails/products_11.jpg',
		alt: 'Descriptive text'
	},
	{
		fullSize: 'images/products/full-size/products_12.jpg',
		thumbnail: 'images/products/thumbnails/products_12.jpg',
		alt: 'Descriptive text'
	}
]
%>

<div class="container products-page">

  <div class="row">
    <div class="columns twelve">
      
      <%- partial('../components/header.ejs', { header }) %>

		</div>
	</div>

	<div class="row gallery__page-top u-margin-b--lrg">
		<div class="columns eight offset-by-two twelve--med offset-by-none--med">

			<div id="gallery" style="display:none;">

				<% images.forEach(function(image) { %>
					<%
					const fullSize = image.fullSize
					const thumbnail = image.thumbnail
					const alt = image.alt
					%>

					<img alt="<%= alt %>" src="<%= thumbnail %>"
					data-image="<%= fullSize %>"
					data-description="Image 1 Description">

				<% }) %>

			</div>

		</div>
	</div>

	<div class="row">
	    <div class="columns twelve">
	      
	      <%- partial('../components/footer.ejs') %>

	    </div>
	  </div>

</div>